---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Slider from "../components/Slider.astro";
import Data from "../data/Data.json";
import ParallaxBasic from "../components/ParallaxBasic.astro";
---

<Layout title="Página de Inicio">
	<Nav />
	<Slider />
	<div class="container py-5">
		<div class="row">
			{
				Data.map((i) => (
					<div class="col-xl-4 col-xs-12">
						<div class="card">
							<img src={i.image} alt="" />
							<li class=>{i.url}</li>
							<li class=>{i.name}</li>
						</div>
					</div>
				))
			}
		</div>
	</div>
	<ParallaxBasic/>
	<div class="container py-5">
		<div class="row">
			{
				Data.map((i) => (
					<div class="col-xl-4 col-xs-12">
						<div class="card">
							<img src={i.image} alt="" />
							<li class=>{i.url}</li>
							<li class=>{i.name}</li>
						</div>
					</div>
				))
			}
		</div>
	</div>

</Layout>

<style>
 li{
	list-style: none;
 }
</style>